<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <h1>Dishes</h1>

    <% if( dishes.length > 0){ %>
        <% for(let i = 0; i < dishes.length; i++){ %>
            <h1> <%= dishes[i].title %></h1>
            <h2> <%= dishes[i].description %></h2>
            <h3> <%= dishes[i].price %></h3>
            <img src="<%= dishes[i].imageurl %>" alt="">
         <% } %>
    <% } %>


</body>
</html>